@import "../../styles/variables.module.scss";

.main {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.466);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    width: 600px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;

    p {
      margin-top: 8px;
      color: $black-color;
      font-weight: 600;
    }

    input {
      height: 40px;

      border-radius: 5px;
      width: 100%;
      border: 1px solid $black-color;
      outline: none;
      padding-left: 15px;
      color: $black-color;
    }

    button {
      border: none;
      margin-top: 8px;
      background-color: $black-color;
      color: white;
      padding: 10px;
      border-radius: 5px;
      font-weight: 600;
      cursor: pointer;
      width: 150px;
      align-self: center;
    }
  }
}

@media (max-width: 900px) {
  .container {
    width: 95vw !important;
  }
}
