$primary-color: #fdfd96;
$secondary-color: #d37c73;
$third-color: #7916ff;
$white-color: #d1c0ff;
$nowhite-color: #4b05ad;
$black-color: #413f46;
$fuente1: "Quicksand", sans-serif;
$fuente2: "Kanit", sans-serif;
$fuente3: "Bebas Neue", cursive;
$fuente4: "Poppins", sans-serif;
$sombra: 0 0.07em 0.125em 0 rgba(0, 0, 0, 0.15);

$fondoGradiente: radial-gradient(
    at 5% 22%,
    hsla(308, 96%, 83%, 1) 0px,
    transparent 50%
  ),
  radial-gradient(at 85% 24%, hsla(287, 80%, 59%, 1) 0px, transparent 50%),
  radial-gradient(at 56% 96%, hsla(262, 88%, 51%, 1) 0px, transparent 50%);
$fondoColor: hsla(0, 100%, 95%, 1);

@export "primary-color";
@export "secondary-color";
@export "third-color";
@export "white-color";
@export "black-color";
@export "fuente1";
@export "fuente2";
@export "fuente3";
@export "fuente4";
@export "fondoGradiente";
@export "fondoColor";
@export "sombra";
