@import "../../../styles/variables.module.scss";

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  background-color: $white-color;
  padding: 10px;

  p {
    font-size: 18px;
    color: $black-color;
  }

  .eliminar {
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    color: $black-color;
  }
}
