@import "../../styles/variables.module.scss";

.container {
  height: 80px;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.384);
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;

  .logo {
    padding-left: 15px;
    font-weight: 900;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-right: 25px;

    p {
      font-weight: 900;
      color: $white-color;
      transition-duration: 0.3s;
      cursor: pointer;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
