@import "../../styles/variables.module.scss";

.container {
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: $black-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hecho {
    color: $white-color;
    a {
      font-weight: 900;
      color: $white-color;
      text-decoration: none;

      &:hover {
        color: $white-color;
      }
    }
  }
}
