@import "../../../styles/variables.module.scss";

.alumnos {
  height: 30px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid $black-color;
  cursor: pointer;

  p {
    color: $black-color;
  }

  &:hover {
    background-color: $white-color;
  }
}
