@import "../../styles/variables.module.scss";

.container {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: $white-color;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 10px 10px 10px 25px;

  h3 {
    cursor: pointer;
  }

  span {
    font-weight: 600;
    text-decoration: underline;
  }

  h3,
  p {
    color: $black-color;
  }

  .acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .toggleOn {
    color: rgb(1, 139, 1);
    font-size: 42px;
    cursor: pointer;
  }
  .toggleOff {
    color: rgb(161, 5, 0);
    font-size: 42px;
    cursor: pointer;
  }

  .realizarPago {
    background-color: $black-color;
    color: $white-color;
    font-size: 32px;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
  }

  .delete {
    font-size: 32px;
    cursor: pointer;
    color: $black-color;
  }
}

@media (max-width: 900px) {
  .container {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: $white-color;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 5px;
    padding: 5px;

    h3 {
      cursor: pointer;
    }

    span {
      font-weight: 600;
      text-decoration: underline;
    }

    h3,
    p {
      color: $black-color;
    }

    .acciones {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      width: 100px;

      .toggleOn {
        font-size: 50px;
      }
      .toggleOff {
        font-size: 50px;
      }

      .realizarPago {
        background-color: $black-color;
        color: $white-color;
        font-size: 38px;
        border-radius: 50%;
        padding: 3px;
        cursor: pointer;
      }

      .delete {
        font-size: 38px;
        cursor: pointer;
        color: $black-color;
      }
    }
  }
}
